--- dshield.cnf.orig	2015-03-29 17:50:14 UTC
+++ dshield.cnf
@@ -35,7 +35,7 @@ replyto=
 # client processes 'syslog' reports.  Unless your firewall logs go to 
 # a different file....
 
-log=/var/log/messages
+#log=/var/log/messages
 
 # Regular expression that must match in each log line that is processed
 # Needed if your log contains all kinds of different things, not just
@@ -64,7 +64,8 @@ log=/var/log/messages
 # What program (and options) to use for sending mail
 # (When 'whereto=MAIL')
 
-sendmail=/usr/sbin/sendmail -oi -t
+#sendmail=/usr/sbin/sendmail -oi -t
+sendmail=@@DATADIR@@/pfsense_mailer.php
 
 # What to do with the output.
 # If defined as 'MAIL' then send the converted # log to the addresses defined 
@@ -79,20 +80,21 @@ sendmail=/usr/sbin/sendmail -oi -t
 # Or for testing and debugging, so that you don't have to fool with mail until
 # you have it working right.
 
-whereto=MAIL
+#whereto=MAIL
+whereto=MAILWRAPPER
 
 # These optional files contain ranges that are used to exclude 
 # log lines, so you can filter out log lines that you don't want
 # to submit to DShield.
 #
 # IP addresses
-source_exclude=/etc/dshield-source-exclude.lst
-target_exclude=/etc/dshield-target-exclude.lst
+source_exclude=@@ETCDIR@@/dshield-source-exclude.lst
+target_exclude=@@ETCDIR@@/dshield-target-exclude.lst
 
 #
 # Ports
-source_port_exclude=/etc/dshield-source-port-exclude.lst
-target_port_exclude=/etc/dshield-target-port-exclude.lst
+source_port_exclude=@@ETCDIR@@/dshield-source-port-exclude.lst
+target_port_exclude=@@ETCDIR@@/dshield-target-port-exclude.lst
 
 # Replace the first byte of the target IP with '10.'
 # Note that if you set this to 'Y' then DShield won't send FightBack
@@ -112,7 +114,7 @@ obfus=N
 # yyyymmddhhmmss format, so you can manually edit this if you need to
 # reset where processing will start.
 
-linecnt=/tmp/dshield.cnt
+linecnt=/var/tmp/dshield.cnt
 
 # Setting these to "Y" makes the client spit out a lot of stuff
 # to standard output, some of which may be helpful.
